[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git

[submodule "themes/hugo-material-docs"]
	path = themes/hugo-material-docs
	url = https://github.com/digitalcraftsman/hugo-material-docs.git
